# -*- coding: utf-8; fill-column: 72 mode: conf; -*-
########################################################################
# Ignore .DS_Store from Mac OS
########################################################################
*.DS_Store

########################################################################
# Ignore auto-save files from Emacs
########################################################################
*.*~
\#*.*\#

########################################################################
# Python stuff
########################################################################
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.python-version
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.pkl

########################################################################
# Project specific stuff
########################################################################
data/mp3_files
data/transcriptions
data/gentle_align
